* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}



@media (max-width: 500px) {
  #demo2 {
   position: relative !important;
  }
  
}
